<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <%= link_to "Home", root_path %>
                    </li>
                    <li>
                        <%= link_to "Profile", user_path(current_user) %>
                    </li>
                    <li>
                        <%= link_to "Listing", new_user_listing_path(current_user, @listing) %>
                    </li>
                    <li>
                        <%= link_to "bookings", reservations_path %>
                    </li>
                   
                </ul>

                <ul class="nav navbar-nav navbar-right">
	                <li >
	                    <%= link_to "Sign out", sign_out_path, method: :delete %>
	                </li>
                </ul>
            </div>            
        </div>        
    </nav>

<p>listing index</p>
<center>
<div class="row">
	<div class="container-fluid">
	<% @listings.each do |l| %>
		<%= l.name %><br>
		<%= l.adress %><br>
	<% end %>
	</div>
</div>
</center>	