

<div class="row">
    <div class="col-md-8 col-md-offset-2">
    	<div class="text-center">

        <% if @listings.empty? %>
            <h2> NO LISTINGS LAH </h2>
        <% else %>
        	<% @listings.each do |l| %>
            <div>
        		<h3>Name:         <%= l.name %><br></h3>
        		<h3>Address:      <%= l.adress %><br></h3>
                <h3>Home type:    <%= l.home_type %><br></h3>
                <h3>Room type:    <%= l.room_type %><br></h3>
                <h3>Place:        <%= l.place %><br></h3>
                <h3>Max guest:    <%= l.maximum_guests %><br></h3>
                <h3>Start date:   <%= l.availability_from %><br></h3>
                <h3>End date:     <%= l.availability_to %><br></h3>
                <h3>Price:   <%= l.price %><br></h3>
                <%= image_tag "#{l.avatars.first}" %>
            <div>    
        	<% end %>
        <% end %>
        
    	</div>
    </div>
</div>
	