<center>
<div class="col-md-8 col-md-offset-2 container">
  <div>
    <%= @listing.user.username %>
  	<%= @listing.name %><br>
  	<%= @listing.adress %><br>
  	<%= @listing.home_type %><br>
  	<%= @listing.room_type %><br>
  	<%= @listing.place %><br>
  	<%= @listing.maximum_guests %><br>
  	<%= @listing.availability_from %><br>
  	<%= @listing.availability_to %><br>
  	<%= @listing.price %><br>

    <p><%= link_to "#{@listing.user.username}", @listing.user %></p>
  </div>
</div>
</center>
