<div class="spacing"></div>
<div class="container-fluid">
	<div class="text-field form-group">
	  <%= form.label :username %>
	  <%= form.text_field :username, class: "form-control" %>
	</div>

	<div class="text-field form-group">
	  <%= form.label :email %>
	  <%= form.text_field :email, class: "form-control" %>
	</div>

	<div class="password-field form-group">
	  <%= form.label :password %>
	  <%= form.password_field :password, class: "form-control" %>
	</div>
</div>
<div class="spacing"></div>
