<div class="spacing"></div>
<div class="container-fluid">
  <div class="col-md-8 col-md-offset-2 ">
    <div class="text-field form-group">
      <%= form.label :guest_count %>
      <%= form.number_field :guest_count, class: "form-control" %>
    </div>

    <div class="text-field form-group">
      <%= form.label :check_in %>
      <%= form.text_field :check_in, class: "form-control datepicker" %>
    </div>

    <div class="text-field form-group">
      <%= form.label :check_out %>
      <%= form.text_field :check_out, class: "form-control datepicker" %>
    </div>


  </div>
</div>
<div class="spacing"></div>