
<center>
<% @reservations.each do |r| %>
<div class="spacing"></div>
    <div class="row container-fluid">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <h3>owner booking: <%= r.user.username %><br><h3>
                <h4>Guest number: <%= r.guest_count %><br></h4>
                <h4>Day check in: <%= r.check_in %><br></h4>
                <h4>Day check out: <%= r.check_out %><br></h4>
                <h4>owner id: <%= r.user.id %><br></h4>
                <h4>listing id: <%= r.listing_id %><br></h4>
                <%= link_to "delete", user_reservation_path(r.user, r), method: :delete, data: {confirm: "are you sure?"} %>
            </div>
        </div>
    </div>
   <% end %> 