<!DOCTYPE html>
<html>
  <head>
    <title>FunBnb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <!-- Load the Client component. -->
    <script src="https://js.braintreegateway.com/web/3.11.1/js/client.min.js"></script>
      <!-- Load the Hosted Fields component. -->
    <script src="https://js.braintreegateway.com/web/3.11.1/js/hosted-fields.min.js"></script>
  </head>

  <body class="body">
  <div>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <%= link_to "Home", root_path %>
                    </li>
                    <% if signed_in? %>
                    <li>
                        <%= link_to "Profile", user_path(current_user) %>
                    </li>
                    <li>
                        <%= link_to "Listing", new_listing_path %>
                    </li>
                    <li>
                        <%= link_to "my listings", user_listings_path(current_user)%>
                    </li>
                    <li>
                        <%= link_to "my bookings", user_reservations_path(current_user) %>
                    </li>
                        <% if current_user.role == "superadmin" %>
                    <li>
                      <%= link_to "super admin", users_path %>
                    </li>
                        <% end %>                  
                </ul>

                <ul class="nav navbar-nav navbar-right">
                  <li >
                      <%= link_to "Sign out", sign_out_path, method: :delete %>
                  </li>
                </ul>
                    <% end %>  
            </div>            
        </div>        
    </nav>
  <div>

    <div style="padding-top: 50px;">
      <section> 
        <div id="flash">
          <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
          <% end %>
        </div>
      </section>
        <%= yield %>
    </div>
    
  </body>
</html>
